*.pyc
.idea/workspace.xml
*.csv
.idea/misc.xml
*.iml
env/
.idea/inspectionProfiles/Project_Default.xml
*.p
.idea/inspectionProfiles/profiles_settings.xml
Client-side (Standard)/data_store
Client-side (Standard)/prediction_cache
Client-side (Standard)/visualizer_cache
Client-side (Standard)/Prediction.pyc

.idea/dictionaries/danielalderman.xml
