*.pyc
.idea/workspace.xml
*.csv
.idea/misc.xml
*.iml
env/
.idea/inspectionProfiles/Project_Default.xml
*.p
.idea/inspectionProfiles/profiles_settings.xml
Client-side/data_store
Client-side/prediction_cache
Client-side/visualizer_cache
Client-side/Prediction.pyc

.idea/dictionaries/danielalderman.xml
